GOAL:
The goal of cryptotrader is to automatically buy and sell crypto currencies.
Buying and selling is based on thresholds, which are hardcoded in the configuration.
The first implementation is very basic: it should only work for litecoin and only for bitvavo.

You can ofcourse place limit orders manually, but the whole idea of this project is to automate the process.

REQUIREMENTS:

Req 1:
Cryptotrader should have knowledge of the litecoin exchange.

Req 2:
Cryptotrader should be coupled to a bitvavo(crypto broker) using a personal API key. 

Req 3:
Given a threshold(integer) cryptotrader should be able to sell Litecoin automatically.

Req 4:
Given a threshold(integer) cryptotrader should be able to buy Litecoin automatically.

Req 5:
To limit mistakes there should be a configurable buy or sell cap.

Req 6:
Every buy sell action should trigger a notification to me+cryptotrader@folmer.info encrypt using PGP.

NF Req 1:
Security is important. The script will be running on a private server.

DEPENDENCIES:
Code is dependend on the python bitvavo API: https://github.com/bitvavo/python-bitvavo-api
So there is support for only 1 broker. It makes sense to add support for multiple brokers.

ROADMAP:

phase 1:
Make the project as described above.

phase 2:
Add support for multiple types of coins. 
